<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<title>Home Page</title>
<style>

body{background: url(b2.jpg);
  background-attachment: fixed;
  }



.column{
	margin:50px;
	margin-left: 150px;
	float: left;
	width: 30%;
	height: 300px;

}
.row:after{
	content:"";
	display: table;
	clear: both;

}


</style>
</head>
<body>
	

	<div class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left" style="display:none" id="Menu">
  		<button onclick="closeMenu()" class="w3-bar-item w3-button w3-large">&times;</button>	
  		 <a  href = "/" class="w3-bar-item w3-button w3-black "> <i>Home Page</i></a>    
  		<a  href = "/personal" class="w3-bar-item w3-button w3-black "> <i>Personal Page</i></a>
	 	<a  href = "/update" class="w3-bar-item w3-button w3-black "><i> Update</i> </a>
	 	<a  href = "/chat" class="w3-bar-item w3-button w3-black "><i> Chat Room</i> </a>
	 	<a  href = "/search" class="w3-bar-item w3-button w3-black "><i> Search </i></a>
	 	<a  href = "/contactus" class="w3-bar-item w3-button w3-black "><i> Contact Us</i></a>
	</div>

<div id="main">

<div class="w3-black">
  <button id="openNav" class="w3-button w3-black w3-xlarge w3-left" onclick="openMenu()">&#9776;</button>
    <a  href = "/logout" class="w3-bar-item w3-button w3-black w3-round-large" style = "float: right"> <i>Logout</i></a>
  <div class="w3-container">
    <h1><i>Contact Us<i></h1>
    <div class="w3-container w3-center"">
	<div class="w3-bar">
<a  href = "/" class="w3-bar-item w3-button w3-black w3-round-large"> <i>Home Page</i></a>
  	 <a  href = "/personal" class="w3-bar-item w3-button w3-black w3-round-large"> <i>Personal Page</i></a>
	 <a  href = "/update" class="w3-bar-item w3-button w3-black w3-round-large"><i> Update</i> </a>
	 <a  href = "/chat" class="w3-bar-item w3-button w3-black w3-round-large"><i> Chat Room</i> </a>
	 <a  href = "/search" class="w3-bar-item w3-button w3-black w3-round-large"><i> Search </i></a>
	 <a  href = "/contactus" class="w3-bar-item w3-button w3-black w3-round-large"><i> Contact Us</i></a>
	</div>
	</div>
  </div>
</div>

	<br>

	 
	 <br>
	 <div class="w3-container w3-center w3-animate-bottom w3-card-4 w3-light-grey w3-text-blue w3-margin" >	
	 	<br>
	 <table class="w3-table-all">
    	<thead>
     	 <tr class="w3-blue" >
     	 	<th>Developers</th>
     	 	<th>Contact</th>
     	 	</tr>
    </thead>
  


    <tr>
    	<td>Yeung</td>
       <td>yeung@gmail.com</td>
    </tr>

    <tr>
    	<td>Tong</td>
      <td>tong@gmail.com</td>
    </tr>

    <tr>
    	<td>Leung</td>
      <td>leung@gmail.com</td>
    </tr>

    <tr>
    	<td>Ng</td>
      <td>ng@gmail.com</td>
    </tr>

    <tr>
    	<td>Chan</td>
      <td>chan@gmail.com</td>
    </tr>

    </table>
	
	<br> <!--Turors list from database-->
	</div>

</div>	
 <!--Students list from database-->

<script>
function openMenu() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("Menu").style.width = "15%";
  document.getElementById("Menu").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function closeMenu() {
    document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("Menu").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}
</script>
<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>
<script>
w3CodeColor();
</script>

</body>


</html>